@model Projecttttttttt.Models.AccountModel

@{
    ViewData["Title"] = "AccountLogin";
}

<h1>AccountLogin</h1>

<hr />

<form asp-action="AccountLogin" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label asp-for="username" class="control-label"></label>
        <input asp-for="username" class="form-control" />
        <span asp-validation-for="username" class="text-danger"></span>

        <label asp-for="userPassword" class="control-label"></label>
        <input asp-for="userPassword" class="form-control" />
        <span asp-validation-for="userPassword" class="text-danger"></span>

        <button type="submit" value="Login" class="btn btn-primary" />

        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="AccountLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPassword" class="control-label"></label>
                <input asp-for="userPassword" class="form-control" />
                <span asp-validation-for="userPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
